@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .website-max-width {
    @apply w-full xl:max-w-screen-xl;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply mb-4 text-4xl font-bold text-black;
  }

  h2 {
    @apply mb-3 text-3xl font-semibold text-black;
  }

  h3 {
    @apply mb-2 text-2xl font-medium text-black;
  }
}

@layer utilities {
  .debug {
    border: solid 1px hotpink;
  }

  .bolded {
    text-shadow: 0 0 0.9px black;
  }
}

@layer components {
  .button {
    @apply border border-secondaryBlack bg-white px-1 font-mono text-sm shadow-light hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:font-bold hover:shadow-none hover:transition-transform hover:duration-200 hover:ease-in-out;

    &:disabled {
      @apply translate-x-0 translate-y-0 border-0 bg-gray-300 text-black shadow-none hover:font-normal hover:grayscale;
    }
  }

  .list-action-button {
    @apply flex size-full justify-center p-2 text-base disabled:font-normal disabled:no-underline;
  }

  .list-action-button-label {
    @apply flex w-full flex-row flex-wrap items-center p-0 px-2 text-lg max-lg:justify-center max-lg:gap-x-2 lg:flex-col;
  }

  .select-button {
    @apply flex flex-nowrap items-center justify-center gap-x-2 border border-secondaryBlack bg-white p-2 text-center md:text-nowrap lg:p-3;
  }

  .list {
    @apply flex h-full flex-col rounded-base border-2 border-secondaryBlack bg-white p-4 shadow-light max-sm:p-2 lg:py-8;
  }

  .event-headers {
    @apply flex items-center gap-x-2;
  }

  .button-container {
    @apply my-4 flex w-full items-center justify-between max-md:gap-y-6;
  }
}
