@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .website-max-width {
    @apply w-full xl:max-w-screen-2xl;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply mb-4 text-4xl font-bold text-black;
  }

  h2 {
    @apply mb-3 text-3xl font-semibold text-black;
  }

  h3 {
    @apply mb-2 text-2xl font-medium text-black;
  }
}

@layer utilities {
  .debug {
    border: solid 1px hotpink;
  }

  .bolded {
    text-shadow: 0 0 0.9px black;
  }
}

@layer components {
  .cta-button {
    @apply border border-secondaryBlack bg-white p-2 shadow-light hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none hover:transition-transform hover:duration-200 hover:ease-in-out;

    &:disabled {
      @apply translate-x-0 translate-y-0 border-0 shadow-none grayscale;
    }
  }
}
